body {
  padding-top: 60px;
  padding-bottom: 30px;
}
	  
.alert a {
	font-weight: bold;
	text-decoration: underline;
}
		
.alert p {
	margin: 0;
}
	  
.hero-unit, .thumbnail {
  background-color: #eee;
}
	  
.hero-unit h1, .hero-unit p {
  text-align: center;
  margin-bottom: 15px;
}
	  
#social {
  margin-top: 45px;
}
	  
.twitter-follow-button {
  width: 80px !important;
}
	  
.about {
  margin-top: 50px;
}
	  
.about h3 {
  margin: 0 0 5px 35px;
}
	  
.about img {
  float: left;
  opacity: 0.8;
}
	  
#swatches {
  margin: 60px 0 45px 0;
  padding-right: 20px;
  text-align: center;
}
	  
	  
.thumbnail {
  max-width: 300px;
}
	  
	  
.thumbnail img {
  border: 1px solid #DDD;
  margin-top: 5px;
  width: 290px;
  height: 200px;
}
	  
.thumbnail .btn-toolbar {
  text-align: right;
}
	