body {
  padding-top: 60px;
  padding-bottom: 30px;
}

.navbar .nav > li > a {
	color: #ccc;
}

.nav i {
	opacity: 0.4;
}

.nav a:hover i {
	opacity: 1;
}

.tooltip-inner {
	max-width: 500px;
}
	  
.alert a {
	font-weight: bold;
	text-decoration: underline;
}
		
.alert p {
	margin: 0;
}
	  
.hero-unit, .thumbnail {
  background-color: #e3e3e3;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
	  
.hero-unit h1, .hero-unit p {
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 1px 1px 0 rgba(256, 256, 256, 0.9);
}

#social {
  margin-top: 45px;
}
	  
.twitter-follow-button {
  width: 160px !important;
}
	 
.rss {
	height: 14px;
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;
	margin: 0;
	padding: 2px 5px 2px 4px;
}

.icon-rss {
    background: url(../img/rss-icons.png) no-repeat 0 0;
  	opacity: .65;
	width: 16px;
}

.icon-envelope {
	opacity: .65;
}
	  
.about {
  margin-top: 50px;
}
	  
.about h3 {
  margin: 0 0 5px 35px;
}
	  
.about img {
  float: left;
  opacity: 0.8;
}
	  
#gallery {
  margin: 45px 0 30px 0;
  padding-right: 20px;
  text-align: center;
}
	  
.thumbnail {
  max-width: 300px;
}
	  
.thumbnail img {
  width: 290px;
  height: 200px;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2), 1px 1px 0px rgba(256, 256, 256, 0.7);
}

.thumbnail .label {
	vertical-align: top;
}  

.thumbnail .btn-toolbar {
  text-align: right;
}
	