body {
	padding-bottom: 20px;
}

.nav i {
	opacity: 0.5;
}

.nav a:hover i {
	opacity: 1;
}

.tooltip-inner {
	max-width: 500px;
}

.alert a {
	font-weight: bold;
	text-decoration: underline;
}

.alert p {
	margin: 0;
}

.hero-unit {
	margin-top: 60px;
	margin-bottom: 60px;
}

.hero-unit h1, .hero-unit p {
  text-align: center;
  margin-bottom: 15px;
}

#social {
  margin-top: 45px;
}

.twitter-follow-button {
  width: 150px !important;
}

.rss-button {
	width: 40px;
	height: 14px;
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;
	margin: 0;
	padding: 2px 5px 2px 4px;
}

.icon-rss {
    background: url(../img/rss-icons.png) no-repeat 0 0;
  	opacity: .65;
	width: 16px;
}

.icon-envelope {
	opacity: .65;
}

.about {
  margin-top: 20px;
}

.about .span4 {
	margin-bottom: 20px;
}

.about h3 {
  margin: 0 0 5px 35px;
}

.about img {
  float: left;
  opacity: 0.6;
}

#gallery {
  margin: 45px 0 30px 0;
  padding-right: 20px;
  text-align: center;
}

.thumbnail {
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.1);
}

.thumbnail img {
	width: 100%;
 	-webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
}

.thumbnail .label {
	vertical-align: top;
}

.thumbnail .btn-toolbar {
  text-align: right;
}

.modal .label {
 vertical-align: text-top;
}

.links {
	margin-bottom: 20px;
}

.links > a {
	margin-right: 10px;
} 

/* Landscape phones and down */
@media (max-width: 480px) {

	.hero-unit {
		padding: 40px 20px 10px;
		margin: 0 0 20px;
	}

	.hero-unit h1 {
	  font-size: 36px;
	}

	.hero-unit p {
		font-size: 13px;
		line-height: 18px;
	}

	#social {
		margin-top: 0px;
		margin-bottom: 40px;
	}

	.about {
	  margin-top: 0;
	}

	.about h3 {
	  margin-top: 20px;
	}

	.about p {
		margin-bottom: 0;
	}

	.modal {
		position: fixed !important;
		top: 25% !important;
	}
}

div.one .bsa_it_ad {
	padding: 25px 25px 15px 25px;
}

div.one .bsa_it_p {
	display: none;
}

#bsap_aplink {
	float: right;
	margin-bottom: 20px;
	font-size: 12px;
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {

	.hero-unit {
		margin-top: 0;
		padding-bottom: 60px;
	}

	.about {
		margin-top: 0;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {

	.hero-unit {
		margin-top: 0;
	}

	.thumbnail .btn {
		font-size: 11px;
	}
}

/* Large desktop */
@media (min-width: 1200px) {


}
