// Materia 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #bbb;
$gray-600: #666;
$gray-700: #444;
$gray-800: #222;
$gray-900: #212121;
$black:    #000 !default;

$blue:    #2196F3;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e51c23;
$orange:  #fd7e14 !default;
$yellow:  #ff9800;
$green:   #4CAF50;
$teal:    #20c997 !default;
$cyan:    #9C27B0;

$primary:       $blue !default;
$secondary:     $white;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white;
$dark:          $gray-800 !default;

// Spacing

$spacer: 1rem !default;

// Body

$body-color:    $gray-700;

// Fonts

$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$font-size-base: 0.8125rem;

$font-weight-base: 400;

// Buttons

$input-btn-padding-y:       1rem;
$input-btn-padding-x:       1rem;

// Forms

$input-bg:                       transparent;
$input-disabled-bg:              transparent;

$input-color:                    $gray-600;
$input-border-color:             transparent;

$input-border-radius:            0;
$input-border-radius-lg:         0;
$input-border-radius-sm:         0;

$input-placeholder-color:        rgba(0,0,0,0.4);

$input-group-addon-bg:           transparent;

// Navs

$nav-link-disabled-color:       $gray-500;

$nav-tabs-border-color:                       transparent;

// Navbar

$navbar-padding-y:                  $spacer;

$navbar-dark-color:                 rgba($white,.75);
$navbar-dark-hover-color:           $white;

// Progress bars

$progress-height:               6px;
$progress-border-radius:        0;

// Close

$close-font-size:             34px;
$close-font-weight:           300;
