{
  "extends": [
    "stylelint-config-twbs-bootstrap/scss"
  ],
  "rules": {
    "declaration-no-important": null,
    "order/properties-order": null,
    "scss/dollar-variable-default": [
      true,
      {
        "ignore": "local"
      }
    ],
    "selector-max-class": null,
    "selector-max-type": null,
    "selector-no-qualifying-type": null
  }
}
