@font-face {
    font-family: "Gibson";
    src: local("☺"), url("fonts/Gibson-Regular.otf") format("opentype");
    src: url('fonts/gibson-regular-webfont.eot');
    src: url('fonts/gibson-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gibson-regular-webfont.woff') format('woff'),
         url('fonts/gibson-regular-webfont.ttf') format('truetype'),
         url('fonts/gibson-regular-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: "Gibson";
    font-style: italic;
    src: local("☺"), url('fonts/Gibson-Italic.otf') format("opentype");
    src: url('fonts/gibson-italic-webfont.eot');
    src: url('fonts/gibson-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gibson-italic-webfont.woff') format('woff'),
         url('fonts/gibson-italic-webfont.ttf') format('truetype'),
         url('fonts/gibson-italic-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: "Gibson Light";
    src: local("☺"), url('fonts/Gibson-Light.otf') format("opentype");
    src: url('fonts/gibson-light-webfont.eot');
    src: url('fonts/gibson-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gibson-light-webfont.woff') format('woff'),
         url('fonts/gibson-light-webfont.ttf') format('truetype'),
         url('fonts/gibson-light-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: "Gibson Semi Bold";
    src: local("☺"), url('fonts/Gibson-SemiBold.otf') format("opentype");
    src: url('fonts/gibson-semibold-webfont.eot');
    src: url('fonts/gibson-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gibson-semibold-webfont.woff') format('woff'),
         url('fonts/gibson-semibold-webfont.ttf') format('truetype'),
         url('fonts/gibson-semibold-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: "Gibson Light Italic";
    src: local("☺"), url('fonts/Gibson-LightItalic.otf') format("opentype");
    src: url('fonts/gibson-lightitalic-webfont.eot');
    src: url('fonts/gibson-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gibson-lightitalic-webfont.woff') format('woff'),
         url('fonts/gibson-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/gibson-lightitalic-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: "Gibson Bold Italic";
    src: local("☺"), url('fonts/Gibson-BoldItalic.otf') format("opentype");
    src: url('fonts/gibson-bolditalic-webfont.eot');
    src: url('fonts/gibson-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gibson-bolditalic-webfont.woff') format('woff'),
         url('fonts/gibson-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/gibson-bolditalic-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: "Gibson Semi Bold Italic";
    src: local("☺"), url('fonts/Gibson-SemiBoldItalic.otf') format("opentype");
    src: url('fonts/gibson-semibolditalic-webfont.eot');
    src: url('fonts/gibson-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gibson-semibolditalic-webfont.woff') format('woff'),
         url('fonts/gibson-semibolditalic-webfont.ttf') format('truetype'),
         url('fonts/gibson-semibolditalic-webfont.svg#webfont') format('svg');
}
