// Readable 2.2.2
// Bootswatch
// -----------------------------------------------------


// TYPOGRAPHY
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");

// SCAFFOLDING
// -----------------------------------------------------

// NAVBAR
// -----------------------------------------------------

div.subnav {
	.nav > li > a,
	.nav > .active > a,
	.nav > .active > a:hover {
		color: $textColor;
	}
}

div.subnav-fixed {
	top: $navbarHeight;
}

// NAV
// -----------------------------------------------------

// BUTTONS
// -----------------------------------------------------

// TABLES
// -----------------------------------------------------

// FORMS
// -----------------------------------------------------

// DROPDOWNS
// -----------------------------------------------------

// ALERTS, LABELS, BADGES
// -----------------------------------------------------

// MISC
// -----------------------------------------------------

.hero-unit {

	h1, h2, h3, h4, h5, h6 {
		margin: 13px 0;
	}
}

// MEDIA QUERIES
// -----------------------------------------------------
