// Readable 3.0.2
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Raleway:700");

// Navbar =====================================================================

.navbar {
	font-family: @headings-font-family;
	text-transform: uppercase;

	&-nav > li > a {
		padding-top: @navbar-padding-vertical + 6px;
	}

	&-nav > li > a:hover {
		text-decoration: underline;
	}

	&-brand {
		padding-top: @navbar-padding-vertical + 5px;
	}
}

// Buttons ====================================================================

.btn {
	font-family: @headings-font-family;
	text-transform: uppercase;
}

// Typography =================================================================

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

p {
	margin-bottom: 1.4em;
}

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

.pagination {

	.active > a,
	.active > a:hover {
		border-color: #ddd;
	}
}

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================