// Cerulean 4.0.0
// Bootswatch


@mixin btn-shadow($color){
  @include gradient-y-three-colors(lighten($color, 8%), $color, 60%, darken($color, 4%));
}

$text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) !default;

// Navbar ======================================================================

.bg-primary {
  @include btn-shadow($brand-primary);
}

.bg-inverse {
  @include gradient-y-three-colors(lighten($gray-light, 8%), $gray-light, 60%, darken($gray-light, 2%));
}

.nav-item {
  text-shadow: $text-shadow
}

// Buttons =====================================================================

.btn {
  text-shadow: $text-shadow
}

.btn-primary {
  @include btn-shadow($btn-primary-bg);
}

.btn-secondary {
  @include btn-shadow($btn-secondary-bg);
}

.btn-success {
  @include btn-shadow($btn-success-bg);
}

.btn-info {
  @include btn-shadow($btn-info-bg);
}

.btn-warning {
  @include btn-shadow($btn-warning-bg);
}

.btn-danger {
  @include btn-shadow($btn-danger-bg);
}

// Typography ==================================================================

// Tables ======================================================================

// Forms =======================================================================

// Navs ========================================================================

// Indicators ==================================================================

// Progress bars ===============================================================

// Containers ==================================================================
