// Solar 4.0.0
// Bootswatch


$web-font-path: "https://fonts.googleapis.com/css?family=Source+Sans+Pro" !default;
@import url($web-font-path);

// Navbar ======================================================================

.bg-primary {
  background-color: $gray !important;
}

.bg-inverse {
  background-color: theme-color("primary") !important;
}

// Buttons =====================================================================

// Typography ==================================================================

// Tables ======================================================================

.table {
  &-success,
  &-info,
  &-warning,
  &-danger {
    color: #fff;
  }
}

.thead-inverse th {
  color: $white;
}

// Forms =======================================================================

.input-group-addon {
  color: $body-color;
}

// Navs ========================================================================

// Indicators ==================================================================

// Progress bars ===============================================================

// Containers ==================================================================
