// Simplex 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ddd;
$gray-300: #ccc;
$gray-400: #bbb;
$gray-500: #adb5bd !default;
$gray-600: #777;
$gray-700: #444;
$gray-800: #373a3c;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #9B479F;
$pink:    #e83e8c !default;
$red:     #D9230F;
$orange:  #D9831F;
$yellow:  #ffc107 !default;
$green:   #469408;
$teal:    #20c997 !default;
$cyan:    #029ACF;

$primary:       $red;
$secondary:     $white;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $purple;
$danger:        $orange;
$light:         $white;
$dark:          $gray-800 !default;

// Body

$body-bg:                   #FCFCFC;

// Fonts

$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-base:              0.8125rem;

$headings-color:              $gray-700;

// Dropdowns

$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $primary;

// Navs

$nav-link-padding-y:                .9rem;
$nav-link-disabled-color:           $gray-400;

$nav-tabs-border-color:             darken(#fff, 6.5%);

// Navbar

$navbar-dark-color:                 rgba($white,.75);
$navbar-dark-hover-color:           $white;

// Pagination

$pagination-border-color:           $nav-tabs-border-color;

$pagination-hover-color:            $white;
$pagination-hover-bg:               $primary;
$pagination-hover-border-color:     $primary;

$pagination-disabled-color:         $gray-400;
$pagination-disabled-border-color:  $pagination-border-color;

// Jumbotron

$jumbotron-bg:                      $nav-tabs-border-color;

// Cards

$card-border-color:                 $nav-tabs-border-color;

// Popovers

$popover-border-color:              $nav-tabs-border-color;

// Modals

$modal-content-border-color:        $nav-tabs-border-color;

$modal-header-border-color:         $nav-tabs-border-color;

// Progress bars

$progress-bar-color:                $primary;

// List group

$list-group-border-color:           $nav-tabs-border-color;

$list-group-disabled-bg:            $nav-tabs-border-color;

// Breadcrumbs

$breadcrumb-bg:                     $white;
