// Minty 4.0.0
// Bootswatch


$web-font-path: "https://fonts.googleapis.com/css?family=Montserrat" !default;
@import url($web-font-path);

// Navbar ======================================================================

.navbar {
  font-family: $headings-font-family;
}

.bg-inverse {
  background-color: $btn-secondary-bg !important;
}

// Buttons =====================================================================

.btn {
  font-family: $headings-font-family;
}

// Typography ==================================================================

// Tables ======================================================================

.thead-inverse th {
  background-color: $brand-primary;
  font-family: $headings-font-family;
}

.table-success,
.table-info,
.table-warning,
.table-danger {
  color: #fff;
}

// Forms =======================================================================

legend {
  font-family: $headings-font-family;
}

// Navs ========================================================================

.dropdown-menu {
  font-family: $font-family-sans-serif;
}

.breadcrumb {
  a {
    color: $navbar-inverse-color;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

.pagination {
  .page-link:hover {
    text-decoration: none;
  }
}

// Indicators ==================================================================

.alert {

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }

  a,
  .alert-link {
    color: #fff;
  }
}

// Progress bars ===============================================================

// Containers ==================================================================
