// Minty 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9;
$gray-300: #eceeef;
$gray-400: #ced4da !default;
$gray-500: #aaa;
$gray-600: #888;
$gray-700: #5a5a5a;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #FF7851;
$orange:  #fd7e14 !default;
$yellow:  #FFCE67;
$green:   #56CC9D;
$teal:    #20c997 !default;
$cyan:    #6CC3D5;

$primary:       #78C2AD;
$secondary:     #F3969A;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Body

$body-color:                $gray-600;

// Components

$border-radius:               .4rem;
$border-radius-lg:            .6rem;
$border-radius-sm:            .3rem;

// Fonts

$headings-font-family:        "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-color:              $gray-700;

// Tables

$table-border-color:          rgba(0,0,0,0.05);

// Dropdowns

$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $secondary;

// Navbar

$navbar-dark-color:                 rgba($white,.6);
$navbar-dark-hover-color:           $white;

$navbar-light-color:                rgba($black,.3);
$navbar-light-hover-color:          $gray-700;
$navbar-light-active-color:         $gray-700;
$navbar-light-disabled-color:       rgba($black,.1);

// Pagination

$pagination-color:                  $white;
$pagination-bg:                     $primary;
$pagination-border-color:           $primary;

$pagination-hover-color:            $white;
$pagination-hover-bg:               $secondary;
$pagination-hover-border-color:     $pagination-hover-bg;

$pagination-active-bg:              $secondary;
$pagination-active-border-color:    $pagination-active-bg;

$pagination-disabled-color:         $white;
$pagination-disabled-bg:            #CCE8E0;
$pagination-disabled-border-color:  $pagination-disabled-bg;

// Breadcrumbs

$breadcrumb-bg:                     $primary;
$breadcrumb-divider-color:          $white;
$breadcrumb-active-color:           $breadcrumb-divider-color;
