// Darkly 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #999;
$gray-700: #444;
$gray-800: #303030;
$gray-900: #222;
$black:    #000 !default;

$blue:    #375a7f;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #E74C3C;
$orange:  #fd7e14 !default;
$yellow:  #F39C12;
$green:   #00bc8c;
$teal:    #20c997 !default;
$cyan:    #3498DB;

$primary:       $blue !default;
$secondary:     $gray-700;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-800;
$dark:          $gray-800 !default;

// Body

$body-bg:                   $gray-900;
$body-color:                $white;

// Links

$link-color:                $success;

// Fonts

$font-family-sans-serif:      "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-base:              0.9375rem;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// Tables

$table-accent-bg:             $gray-800;

$table-border-color:          $gray-700;

// Forms

$input-border-color:					transparent;

$input-group-addon-bg:                  $gray-700;

// Dropdowns

$dropdown-bg:                       $gray-900;
$dropdown-border-color:             $gray-700;
$dropdown-divider-bg:               $gray-700;

$dropdown-link-color:               $white;
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $primary;

// Navs

$nav-link-padding-x:                2rem;
$nav-link-disabled-color:           $gray-200;

$nav-tabs-border-color:             $gray-700;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;

// Navbar

$navbar-padding-y:                  1rem;

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $success;

// Pagination

$pagination-color:                  $white;
$pagination-bg:                     $success;
$pagination-border-width:           0;
$pagination-border-color:           transparent;

$pagination-hover-color:            $white;
$pagination-hover-bg:               lighten($success, 10%);
$pagination-hover-border-color:     transparent;

$pagination-active-bg:              $pagination-hover-bg;
$pagination-active-border-color:    transparent;

$pagination-disabled-color:         $white;
$pagination-disabled-bg:            darken($success, 15%);
$pagination-disabled-border-color:  transparentt;


// Jumbotron

$jumbotron-bg:                      $gray-800;

// Cards

$card-cap-bg:                       $gray-700;
$card-bg:                           $gray-800;

// Popovers

$popover-bg:                        $gray-800;

$popover-header-bg:                 $gray-700;

// Modals

$modal-content-bg:                  $gray-800;
$modal-content-border-color:        $gray-700;

$modal-header-border-color:         $gray-700;

// Progress bars

$progress-height:                   10px;
$progress-font-size:                10px;
$progress-bg:                       $gray-700;

// List group

$list-group-bg:                     $gray-800;
$list-group-border-color:           $gray-700;

$list-group-hover-bg:               $gray-700;

// Breadcrumbs

$breadcrumb-bg:                     $gray-700;

// Close

$close-color:                       $white;
$close-text-shadow:                 none;
