// Lumen 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f6f6f6;
$gray-200: #f0f0f0;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #999 !default;
$gray-700: #555;
$gray-800: #333;
$gray-900: #222;
$black:    #000 !default;

$blue:    #158CBA;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #FF4136;
$orange:  #fd7e14 !default;
$yellow:  #FF851B;
$green:   #28B62C;
$teal:    #20c997 !default;
$cyan:    #75CAEB;

$primary:       $blue !default;
$secondary:     $gray-200;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900;

// Fonts

$font-family-sans-serif:      "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-base:              0.875rem;

// Dropdowns

$dropdown-link-color:               rgba(0,0,0,.5);

// Navs

$nav-tabs-border-color:             $gray-200;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;

// Pagination

$pagination-color:                  $gray-700;
$pagination-bg:                     $gray-200;

$pagination-hover-color:            $pagination-color;
$pagination-hover-bg:               $pagination-bg;

$pagination-active-border-color:    darken($primary, 5%);

$pagination-disabled-color:         $gray-600;
$pagination-disabled-bg:            $pagination-bg;

// Jumbotron

$jumbotron-bg:                      #fafafa;

// Modals

$modal-content-border-color:        rgba($black,.1);
