// Spacelab 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #999;
$gray-600: #777;
$gray-700: #495057 !default;
$gray-800: #333;
$gray-900: #2d2d2d;
$black:    #000 !default;

$blue:    #446E9B;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #CD0200;
$orange:  #fd7e14 !default;
$yellow:  #D47500;
$green:   #3CB521;
$teal:    #20c997 !default;
$cyan:    #3399F3;

$primary:       $blue !default;
$secondary:     $gray-500;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Body

$body-color:                $gray-600;

// Links

$link-color:                $info;

// Fonts

$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$headings-color:              $gray-900;

// Navbar

$navbar-dark-color:                 rgba($white,.75);
$navbar-dark-hover-color:           $white;

$navbar-light-color:                rgba($black,.4);
$navbar-light-hover-color:          $info;
$navbar-light-active-color:         $info;
