// Sandstone 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #F8F5F0;
$gray-300: #DFD7CA;
$gray-400: #ced4da !default;
$gray-500: #98978B;
$gray-600: #8E8C84;
$gray-700: #495057 !default;
$gray-800: #3E3F3A;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #325D88;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f;
$orange:  #F47C3C;
$yellow:  #ffc107 !default;
$green:   #93C54B;
$teal:    #20c997 !default;
$cyan:    #29ABE0;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange;
$danger:        $red !default;
$light:         $gray-200;
$dark:          $gray-800 !default;

// Body

$body-color:                $gray-800;

// Links

$link-color:                $success;

// Fonts

$font-family-sans-serif:      "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-base:              0.875rem;

$headings-font-weight:        400;

// Dropdowns

$dropdown-link-color:               $gray-600;
$dropdown-link-hover-color:         $dropdown-link-color;
$dropdown-link-hover-bg:            $gray-200;

// Navs

$nav-link-padding-x:                0.9rem;
$nav-link-disabled-color:           $gray-300;

$nav-tabs-border-color:             $gray-300;
$nav-tabs-link-active-bg:           $white;

$nav-pills-link-active-color:       $gray-600;
$nav-pills-link-active-bg:          $gray-200;

// Navbar

$navbar-dark-hover-color:           $white;

$navbar-light-hover-color:          $black;
$navbar-light-active-color:         $black;

// Pagination

$pagination-color:                  $gray-600;
$pagination-bg:                     $gray-200;
$pagination-border-color:           $gray-300;

$pagination-hover-color:            $pagination-color;

$pagination-active-color:           $pagination-color;
$pagination-active-bg:              $gray-300;
$pagination-active-border-color:    $gray-300;

$pagination-disabled-color:         $gray-300;
$pagination-disabled-bg:            $gray-200;
$pagination-disabled-border-color:  $pagination-border-color;

// Cards

$card-border-color:                 $gray-300;
$card-cap-bg:                       $gray-200;

// Popovers

$popover-header-bg:                 $gray-200;

// Modals

$modal-content-border-color:        $gray-300;

$modal-header-border-color:         $modal-content-border-color;

// Progress bars

$progress-bg:                       $gray-300;
$progress-border-radius:            10px;
$progress-bar-color:                $primary;

// List group

$list-group-border-color:           $gray-300;

$list-group-hover-bg:               $gray-200;
$list-group-active-color:           $body-color;
$list-group-active-bg:              $gray-200;
$list-group-active-border-color:    $gray-300;

$list-group-disabled-color:         $gray-500;
$list-group-disabled-bg:            $white;

$list-group-action-color:           $list-group-active-color;

$list-group-action-active-color:    $list-group-active-color;
$list-group-action-active-bg:       $gray-300;

// Close

$close-text-shadow:                 none;

