// Flatly 3.0.3
// Bootswatch
// -----------------------------------------------------
@import url("//cloud.typography.com/6916252/625682/css/fonts.css");

body, nav {
  min-width: 1024px;  //constrain app size
}


// Navbar =====================================================================
@import "./navbar.less";


// Modals =================================================================
@import "./modals.less";

// Mixins =================================================================
@import "./mixins.less";

// Buttons ====================================================================

.remove-bootstrap-defaults() {
  background-image: none !important;
  text-shadow: none !important;
}

.btn {
  line-height: 12px;
}
button.btn {
  padding: 8px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  filter: none !important; // so IE9 doesn't show them as grey in inappropriate states
  margin-left: 5px;
  font-size: 13px;
  line-height: 13px;
  .Gotham();
  .radius(2px);
  .remove-bootstrap-defaults();

  &:first-child {
    margin-left: 0;
  }

  &:focus {
    outline: none;
  }
  &:active {
    .box-shadow(none);
    &.btn-default {
      background-color: @clay;
    }
    &.btn-primary {
      background-color: @mint;
      &:hover {
        background-color: @mint-plus-2 !important;
        border: none !important;
      }
      &:active {
        background-color: @mint;
      }
    }
    &.btn-success {
      background-color: @mint-minus-2;
    }
    &.btn-warning {
      background-color: @gold-minus-2;
    }
    &.btn-danger {
      background-color: @brick-minus-2;
    }
    &.btn-info {
      background-color: @sky-minus-2;
    }
    &.btn-link {
      color: @night-minus-4;
    }
  }
}

.btn-link {
  font-weight: 500;
}
.btn-lg {
  min-width: 80px; //so buttons all about same size
}

.btn-group.open .dropdown-toggle {
  .box-shadow(none);
}


// Typography =================================================================

.Whitney() {
  font-family: 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.Gotham() {
  font-family: 'Gotham SSm A', 'Gotham SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
  letter-spacing: -0.025em;
  -webkit-font-smoothing: antialiased;
}

*, html, div, span, iframe, h1, h2, h3, h4, h5, h6, p, ul, ol, li, fieldset, form, label, header, section, *, input, textarea, button, .btn {
  .Gotham();
}

.text-primary,
.text-primary:hover {
  color: @brand-primary;
}

.text-success,
.text-success:hover {
  color: @brand-success;
}

.text-danger,
.text-danger:hover {
  color: @brand-danger;
}

.text-warning,
.text-warning:hover {
  color: @brand-warning;
}

.text-info,
.text-info:hover {
  color: @brand-info;
}

h1 {
  .Whitney();
}

.lead {
  font-weight: 300;
}


// Tables =====================================================================

.table {

  th {
    font-size: 11px !important;
    text-transform: uppercase;
    font-weight: 700;
    color: darken(@gray-dark, 10%);
    text-align: left;
    border-width: 1px !important;  //override
  }
  td, th {
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    padding: 0 30px 0 15px !important;
    line-height: 37px !important;
  }
  tr:last-child td {
    border-bottom: 1px solid @table-border-color;
  }
}


// Forms ======================================================================
@import "./forms.less";


// Navs =======================================================================

.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.pagination {

  a,
  a:hover {
    color: #fff;
  }

  .disabled {
    &>a,
    &>a:hover,
    &>a:focus,
    &>span {
      background-color: lighten(@brand-success, 15%);
    }
  }
}

.pager {
  a,
  a:hover {
    color: #fff;
  }

  .disabled {
    &>a,
    &>a:hover,
    &>a:focus,
    &>span {
      background-color: lighten(@brand-success, 15%);
    }
  }
}


// Indicators =================================================================

.alert {

  a,
  .alert-link {
    color: #fff;
    text-decoration: underline;
  }
}


// Progress bars ==============================================================

.progress {
  height: 10px;
  .box-shadow(none);
}


// Containers =================================================================

.well {
  .box-shadow(none);
  border-width: 0;
}


// Dropdowns =================================================================

.dropdown-menu .dropdown-header, .dropdown-menu > li > a {
  padding: 0px 15px;
}
.dropdown-menu {
  > li > a {
    line-height: 26px !important;
    font-size: 12px !important;
    font-weight: 600 !important;

    i {
      margin-right: 7px;
    }
  }

  .dropdown-header {
    text-transform: uppercase;
    color: rgb(155,155,155);
    letter-spacing: 1px;
    font-weight: 800;
    line-height: 30px;
  }
}


// Placeholder text
// -------------------------
.placeholder(@color: rgb(245, 245, 245)) {
  &:-moz-placeholder { color: @color; }
  &::-moz-placeholder { color: @color; }
  &:-ms-input-placeholder { color: @color; }
  &::-webkit-input-placeholder { color: @color; }
}

.placeholder-multi-edit(@font-size, @font-weight, @color) {
  &:-moz-placeholder {
    font-size: @font-size;
    font-weight: @font-weight;
    color: @color;
  }
  &::-moz-placeholder {
    font-size: @font-size;
    font-weight: @font-weight;
    color: @color;
  }
  &:-ms-input-placeholder {
    font-size: @font-size;
    font-weight: @font-weight;
    color: @color;
  }
  &::-webkit-input-placeholder {
    font-size: @font-size;
    font-weight: @font-weight;
    color: @color;
  }
}

.lineH(@size, @multiple) {
  line-height: @size*@multiple;
}

.shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  border-top-right-radius: @radius;
  border-top-left-radius: @radius;
  border-bottom-right-radius: @radius;
  border-bottom-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -webkit-border-top-left-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-top-right-radius: @radius;
  -moz-border-top-left-radius: @radius;
  -moz-border-bottom-right-radius: @radius;
  -moz-border-bottom-left-radius: @radius;
}

.photoBg(@url, @bg-color) {
  background-image: @url;
  background-color:  @bg-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.colorOverlay(@color) {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: @color;
  }
}

.transitionProperty(@property: all, @duration:0.2s, @ease:ease) {
  -webkit-transition: @property @duration @ease;
  -moz-transition: @property @duration @ease;
  transition: @property @duration @ease;
}

// Transformations
.transform(@transformation) {
  -webkit-transform: @transformation;
  -ms-transform: @transformation; // IE9+
  transform: @transformation;
}

//FROM BOOTSTRAP
.vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 50%, @endColor: #c3325f, @bgC: rgba(0,0,0,0.25)) {
  background-color: @bgC;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
  background-image: -webkit-linear-gradient(@startColor, @midColor @colorStop, @endColor);
  background-image: -moz-linear-gradient(top, @startColor, @midColor @colorStop, @endColor);
  background-image: -o-linear-gradient(@startColor, @midColor @colorStop, @endColor);
  background-image: linear-gradient(@startColor, @midColor @colorStop, @endColor);
  background-repeat: no-repeat;
}

.tightText(@size) {
  font-size: @size;
  line-height: @size;
}

.blur-contents(@size, 2px) {
  .transition(0.05s) !important;
  filter: blur(@size);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-filter: blur(@size);
  -moz-filter: blur(@size);
  filter: url('/media/blur.svg#blur'); /* for Firefox */
}

.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

