// Flatly 3.0.3
// Bootswatch
// -----------------------------------------------------
@import url("//cloud.typography.com/6916252/625682/css/fonts.css");

body, nav {
  min-width: 1024px;  //constrain app size
}

// Mixins should come before everything
@import "./mixins.less";
@import "./modals.less";
@import "./utility-classes.less";
@import "./buttons.less";
@import "./typography.less";
@import "./tables.less";
@import "./forms.less";
@import "./navbars.less";


// Indicators =================================================================

.alert {

  a,
  .alert-link {
    color: #fff;
    text-decoration: underline;
  }
}


// Progress bars ==============================================================

.progress {
  height: 10px;
  .box-shadow(none);
}


// Containers =================================================================

.well {
  .box-shadow(none);
  border-width: 0;
}


// Dropdowns =================================================================

.dropdown-menu > li > a {
  padding: 3px 15px;
  font-size: 12px;
  color: @night;
  &:hover {
    // overriding bootstrap styles
    background-image: none !important;
    background-color: @night !important;
  }
}


// Placeholder text
// -------------------------
.placeholder(@color: rgb(245, 245, 245)) {
  &:-moz-placeholder { color: @color; }
  &::-moz-placeholder { color: @color; }
  &:-ms-input-placeholder { color: @color; }
  &::-webkit-input-placeholder { color: @color; }
}

.placeholder-multi-edit(@font-size, @font-weight, @color) {
  &:-moz-placeholder {
    font-size: @font-size;
    font-weight: @font-weight;
    color: @color;
  }
  &::-moz-placeholder {
    font-size: @font-size;
    font-weight: @font-weight;
    color: @color;
  }
  &:-ms-input-placeholder {
    font-size: @font-size;
    font-weight: @font-weight;
    color: @color;
  }
  &::-webkit-input-placeholder {
    font-size: @font-size;
    font-weight: @font-weight;
    color: @color;
  }
}


