.remove-hover-if-disabled(@bgColor) {
  &[disabled]:hover {
    background-color: @bgColor;
  }
}

.btn {
  line-height: 12px;
}
button, input {
  &.btn {
    padding: 6px 10px;
    font-weight: 600;
    color: #fff;
    border: none;
    filter: none !important; // so IE9 doesn't show them as grey in inappropriate states
    margin-left: 5px;
    font-size: 12px;
    line-height: 14px;
    .Gotham();
    .radius(2px);
    .remove-bootstrap-defaults();

    &[disabled="disabled"], &[disabled] {
      opacity: .5 !important;
    }

    &:first-child {
      margin-left: 0;
    }

    &:focus {
      outline: none;
    }

    &.btn-simple {
      background: transparent;
      font-weight: 400;
      color: @night;
      box-shadow: none;
      line-height:14px; // to account for the icons

      // Note (il): Because they have no edges, these buttons need less spacing and the last one should be
      // right-aligned with the element above it, so no right padding
      padding: 2px 12px;
      &:last-child {
        padding-right: 0;
      }
    }
    .box-shadow(none);
    &.btn-default {
      background-color: @clay;
    }
    &.btn-primary {
      @btnColor: @mint;
      background-color: @btnColor;
      color: #fff;
      .radius(2px);
      &:hover {
        background-color: @mint-plus-1;
        border: none;
      }
      &:active {
        background-color: @btnColor;
      }
      .remove-hover-if-disabled(@btnColor);
    }
    &.btn-titletab {
      color: @clay-plus-2;
      background: none;
      border-radius: 0;
      padding-bottom: 10px;
      &.active {
        color: @night;
        border-bottom: solid 3px @night !important;
      }
    }
    &.btn-success {
      background-color: @mint-minus-2;
    }
    &.btn-warning {
      background-color: @gold-minus-2;
    }
    &.btn-danger {
      background-color: @brick-minus-2;
    }
    &.btn-info {
      background-color: @sky-minus-2;
    }
    &.btn-link {
      color: @night-minus-4;
    }
    &.btn-default {
      @btnColor: @night;
      color: @btnColor;
      .remove-hover-if-disabled(@btnColor);
    }
    &.btn-close {
      background-color: transparent;
      color: @clay-plus-2;
      border: none;
      &:hover {
        background-color: transparent !important;
        text-decoration: underline;
      }
    }
  }
}

.btn-link {
  font-weight: 500;
}
.btn-lg {
  min-width: 80px; //so buttons all about same size
}

.btn-group.open .dropdown-toggle {
  .box-shadow(none);
}


// Legacy Centrio-UI buttons

//Red Action Button
.button1 {
  @buttonBgC: rgb(215, 61, 50);
  background-color: @buttonBgC !important;
  border: 0;
  color: white;
  .Whitney();
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  padding: 9px 13px;
  letter-spacing: -0.25px;
  @radius: 3px;
  &:not(:focus) {
    outline: none;
  }

  &:hover {
    background-color: darken(@buttonBgC, 5%) !important;
  }
  &:active {
    background-color: lighten(@buttonBgC, 3%) !important;
  }
}

//Yellow Action Button
.button2 {
  @buttonBgC: rgb(250, 220, 55);
  @radius: 2px;
  background-color: @buttonBgC;
  border: 0;
  color: black;
  .Whitney();
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  padding: 7px 14px;
  letter-spacing: -0.25px;
  .radius(@radius);

  &:hover {
    background-color: darken(@buttonBgC, 12%);
  }
}

//Gray Supporting Action Button
.button3 {
  @buttonBgC: rgb(212,212,212);
  @radius: 2px;
  background-color: @buttonBgC;
  border: 0;
  color: rgba(0,0,0,0.5);
  .Whitney();
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  padding: 7px 14px;
  letter-spacing: -0.25px;
  .radius(@radius);

  &:hover {
    background-color: darken(@buttonBgC, 5%);
    color: rgba(0,0,0,0.7);
  }
}

//Wizard Subnav Button
.button4 {
  //@buttonBgC: rgba(0,0,0,0.16);  //old semi-dark color
  @buttonBgC: transparent;
  @radius: 3px;
  background-color: @buttonBgC !important;
  border: 0;
  color: rgba(255,255,255,0.5);
  font-size: 13px;
  line-height: 13px;
  padding: 7px 10px;
  height: 25px;
  background-image: none;

  &:hover, &:active {
    background-color: rgba(0,0,0,0.24) !important;
    color: rgba(255,255,255,0.7) !important;
  }
  &[disabled] {
    background-color: rgba(0,0,0,0.08) !important;
    color: rgba(255,255,255,0.3) !important;
    &:hover {
      background-color: rgba(0,0,0,0.08) !important;
      cursor: auto;
    }
  }
}

//Red Action Button
.button5 {
  @buttonBgC: rgba(255,255,255,0.12);
  background-color: @buttonBgC !important;
  border: 0;
  color: white;
  .Whitney();
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  padding: 9px 13px;
  letter-spacing: -0.25px;
  @radius: 3px;
  &:not(:focus) {
    outline: none;
  }

  &:hover {
    background-color: darken(@buttonBgC, 5%) !important;
  }
  &:active {
    background-color: lighten(@buttonBgC, 3%) !important;
  }
}

// spinnergs button
.spinner-button {
  display: inline-block;
  text-align: center;

  button {
    &.transparent {
      background-color: transparent !important;
      padding: 5px;
      .button-text {
        visibility: hidden;
      }
      .loading-spinner {
        position:relative;
        right: 50%;
      }
    }
  }
}


// special fix for popover buttons
.popover {
  .popover-content a.btn {
    background: none;
    background-image: none;
  }
}
