.inputs-style {
  border: solid @clay 1px;
  background-color: #fff;
  .radius(2px);
}



.form-control,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-content {
  color: @night;
  .inputs-style();
  .Gotham();
  font-weight: 400;
  font-size: 12px;
  .placeholder();
  .box-shadow(none);
  outline: none;
  margin-bottom: 0;

  &:focus {
    .box-shadow(none);
    .placeholder(rgba(0,0,0,0.2));
  }
  &[disabled] {
    color: @gray-darker;
    border-color: @gray-darker;
  }

  &.search {
    background-image: url('/assets/images/icon-search.svg');
    background-position: 98% 6px;
    background-repeat: no-repeat;
    background-size: 18px;
  }
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  height: 26px;
}


// This is namespaced to avoid hitting issues with legacy select2 boxes
.select2-blend-wrapper {

  // SELECT2 INPUTS STYLING
  .select2-container, .select2-search {
    .inputs-style();
    .select2-choice {
      box-shadow: none;
      border: none;
    }
  }

  // DISABLED SELECT2 INPUTS
  .select2-container.select2-container-disabled {
    .inputs-style();
    border-color: @clay-plus-2;
    .select2-choice {
      box-shadow: none;
      border: none;
      color: @clay-plus-2;

      .select2-arrow {
        background-color: transparent;
        visibility: hidden;
      }
    }
  }

  // GENERIC SELECT2 SIZING AND OVERRIDES
  .select2-container {
    box-shadow: none !important;
    width: 100%;
    height: 40px;

    .select2-choice {
      height: 40px;
      padding-top: 7px;
      background: transparent;
    }

    .select2-arrow {
      background: transparent;
      border-left: none;

      b {
        background-position-y: 7px;
      }
    }
  }
}

