.inputs-style {
  border: solid @clay 1px;
  background-color: #fff;
  .radius(2px);
}



.form-control,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-content {
  color: @night;
  .inputs-style();
  .Gotham();
  font-weight: 400;
  font-size: 12px;
  .placeholder();
  height: 26px;
  .box-shadow(none);
  outline: none;
  margin-bottom: 0;

  &:focus {
    .box-shadow(none);
    .placeholder(rgba(0,0,0,0.2));
  }
  &[disabled] {
    color: @gray-darker;
    border-color: @gray-darker;
  }
}

// SELECT2 INPUTS
.select2-container, .select2-search {
  .inputs-style();
  .select2-choice {
    box-shadow: none;
    border: none;
  }
}

