// Pulse 4.0.0
// Bootswatch


// Navbar ======================================================================

.bg-inverse {
  background-color: $gray-dark !important;
}

// Buttons =====================================================================

.btn {

  &:focus,
  &:active,
  &:active:focus,
  &.active:focus {
    outline: none;
  }

  &-primary:focus {
    box-shadow: 0 0 5px lighten($brand-primary, 10%);
  }

  &-secondary:focus {
    box-shadow: 0 0 5px $gray-light;
  }

  &-success:focus {
    box-shadow: 0 0 5px lighten($brand-success, 10%);
  }

  &-info:focus {
    box-shadow: 0 0 5px lighten($brand-info, 10%);
  }

  &-warning:focus {
    box-shadow: 0 0 5px lighten($brand-warning, 10%);
  }

  &-danger:focus {
    box-shadow: 0 0 5px lighten($brand-danger, 10%);
  }

  &.disabled:focus {
    box-shadow: none;
  }

}

// Typography ==================================================================

// Tables ======================================================================

.thead-inverse th {
  background-color: #A991D4;
}

// Forms =======================================================================

.form-control:focus {
  box-shadow: 0 0 5px rgba(100,65,164,.4);
}

// Navs ========================================================================

.nav-tabs {

  .nav-link,
  .nav-link.active, {
    border-width: 0 0 1px 0;
  }

  .nav-link:hover,
  .nav-link.active,
  .nav-link.active:hover,
  .nav-link.active:focus {
    border-bottom: 1px solid $brand-primary;
  }

  .nav-item + .nav-item {
    margin-left: 0;
  }
}

.breadcrumb {
  &-item.active {
    color: $gray;
  }
}

// Indicators ==================================================================

// Progress bars ===============================================================

.progress {
  height: 8px;
}

// Containers ==================================================================

.list-group {

  &-item {
    color: rgba(255, 255, 255, 0.8);

    &.active,
    &:hover,
    &:focus {
      color: #fff;
    }

    &.active {
      font-weight: bold;

      &:hover {
        background-color: $list-group-hover-bg;
      }
    }
  }
}
