// Pulse 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #fafafa;
$gray-200: #F9F8FC;
$gray-300: #EDEDED;
$gray-400: #cbc8d0;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #444;
$gray-800: #343a40 !default;
$gray-900: #17141F;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #593196;
$pink:    #e83e8c !default;
$red:     #FC3939;
$orange:  #fd7e14 !default;
$yellow:  #EFA31D;
$green:   #13B955;
$teal:    #20c997 !default;
$cyan:    #009CDC;

$primary:       $purple;
$secondary:     #A991D4;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200;
$dark:          $gray-900;

// Body

$body-color:                $gray-700;

// Links

$link-hover-color:          $primary;

// Components

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

// Fonts

$font-size-base:              0.875rem;

// Tables

$table-border-color:          rgba(0, 0, 0, 0.05);

// Forms

$input-focus-border-color:              $primary;

// Dropdowns

$dropdown-link-color:               $gray-700;
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $primary;

// Navs

$nav-tabs-border-color:             $gray-300;
$nav-tabs-link-hover-border-color:  $primary;

// Navbar

$navbar-padding-y:                  1.2rem;

$navbar-dark-hover-color:           rgba($white,.9);
$navbar-dark-active-color:          rgba($white,.9);
$navbar-dark-disabled-color:        rgba($white,.25) !default;

$navbar-light-color:                rgba($black,.4);
$navbar-light-active-color:         rgba($black,.7);
$navbar-light-disabled-color:       rgba($black,.2);

// Progress bars

$progress-bg:                       $gray-300;
$progress-bar-bg:                   $primary;

// List group

$list-group-bg:                     $gray-900;
$list-group-border-color:           transparent;

$list-group-hover-bg:               lighten($list-group-bg, 10%);
$list-group-active-color:           $white;
$list-group-active-bg:              $list-group-bg;

$list-group-disabled-color:         lighten($list-group-bg, 30%);
