// Lux 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9;
$gray-300: #eceeef;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1;
$gray-700: #55595c;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f;
$orange:  #fd7e14 !default;
$yellow:  #f0ad4e;
$green:   #4BBF73;
$teal:    #20c997 !default;
$cyan:    #1F9BCF;

$primary:       $gray-900;
$secondary:     $white;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white;
$dark:          $gray-800 !default;

// Body

$body-color:                $gray-600;

// Components

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

// Fonts

$font-family-sans-serif:      "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-base:              0.875rem;

$h1-font-size:                2rem;
$h2-font-size:                1.75rem;
$h3-font-size:                1.5rem;
$h4-font-size:                1.25rem;
$h5-font-size:                1rem;
$h6-font-size:                0.75rem;

$headings-font-weight:        600;
$headings-color:              $gray-900;

// Tables

$table-border-color:          rgba(0, 0, 0, 0.05);

// Buttons

$input-btn-padding-y:         0.75rem;
$input-btn-padding-x:         2rem;

$input-btn-padding-y-sm:      .5rem;
$input-btn-padding-x-sm:      1rem;

$input-btn-padding-y-lg:      2rem;
$input-btn-padding-x-lg:      3rem;

$btn-font-weight:             600;

// Forms

$input-bg:                              $gray-200;
$input-disabled-bg:                     $gray-300;

$input-group-addon-bg:                  $gray-300;

// Navbar

$navbar-padding-y:                  1.5rem;

$navbar-dark-hover-color:           $white;

$navbar-light-color:                rgba($black,.3);
$navbar-light-hover-color:          $gray-900;
$navbar-light-active-color:         $gray-900;

// Pagination

$pagination-border-color:           transparent;

$pagination-hover-border-color:     $pagination-border-color;

$pagination-disabled-border-color:  $pagination-border-color;

// Breadcrumbs

$breadcrumb-bg:                     transparent;
