// United 4.0.0
// Bootswatch


// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Ubuntu:400,700" !default;
@import url($web-font-path);

// Navbar ======================================================================

// Buttons =====================================================================

.btn {

  &-secondary,
  &-warning,
  &-warning:hover {
    color: $white;
  }
}

// Typography ==================================================================

// Tables ======================================================================

// Forms =======================================================================

// Navs ========================================================================

// Indicators ==================================================================

// Progress bars ===============================================================

// Containers ==================================================================
