// Journal 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aaa !default;
$gray-600: #777 !default;
$gray-700: #495057 !default;
$gray-800: #333;
$gray-900: #222;
$black:    #000 !default;

$blue:    #EB6864;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #F57A00;
$orange:  #fd7e14 !default;
$yellow:  #F5E625;
$green:   #22B24C;
$teal:    #20c997 !default;
$cyan:    #369;

$primary:       $blue !default;
$secondary:     $gray-500;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900;

// Fonts

$headings-font-family:   "News Cycle", "Arial Narrow Bold", sans-serif;
$headings-font-weight:        700;
$headings-line-height:        1.1;

// Buttons

$input-btn-padding-x:         1rem;

// Navbar

$navbar-light-color:                rgba($black,.7);
$navbar-light-hover-color:          $black;
$navbar-light-active-color:         $black;

// Pagination

$pagination-hover-color:            $white;
$pagination-hover-bg:               $primary;
$pagination-hover-border-color:     $primary;
