// Sketchy 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9;
$gray-300: #dee2e6 !default;
$gray-400: #ccc;
$gray-500: #aaa;
$gray-600: #868e96 !default;
$gray-700: #555;
$gray-800: #333;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $gray-800;
$secondary:     $gray-700;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white;
$dark:          $gray-700;

// Links

$link-decoration:           underline;

// Components

$border-width:                2px;

$border-radius:          255px 25px 225px 25px/25px 225px 25px 255px;
$border-radius-lg:       555px 25px 15px 25px/25px 5px 35px 555px;
$border-radius-sm:       255px 25px 225px 25px/25px 225px 25px 255px;

// Fonts

$font-family-sans-serif:      'Neucha', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$font-weight-base:            700;

$headings-font-family:   'Cabin Sketch', cursive;

$blockquote-small-color:      $gray-800;

// Tables

$table-accent-bg:             $gray-400;
$table-hover-bg:              $white;

$table-border-width:          1px;
$table-border-color:          $gray-800;

// Forms

$input-border-color:                    $gray-800;

$input-focus-border-color:              $input-border-color;

// Dropdowns

$dropdown-border-color:             $gray-800;
$dropdown-divider-bg:               $gray-800;

$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $gray-800;

// Navs

$nav-tabs-border-color:             $gray-800;
$nav-tabs-link-hover-border-color:  $gray-800;
$nav-tabs-link-active-color:        $gray-800;
$nav-tabs-link-active-border-color: $gray-800;

// Navbar

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $white;
$navbar-dark-toggler-border-color:  $white;

$navbar-light-color:                $gray-800;
$navbar-light-hover-color:          $gray-800;
$navbar-light-active-color:         $gray-800;
$navbar-light-toggler-border-color: $gray-800;

// Pagination

$pagination-border-color:           $gray-800;

$pagination-hover-color:            $white;
$pagination-hover-bg:               $gray-800;
$pagination-hover-border-color:     $gray-800;

$pagination-disabled-color:         $gray-400;
$pagination-disabled-border-color:  $gray-800;


// Jumbotron

$jumbotron-bg:                      transparent;

// Cards

$card-border-width:                 2px;
$card-border-color:                 $gray-800;

// Popovers

$popover-border-color:              $gray-800;

// Badges

$badge-padding-y:                   0.5em;
$badge-padding-x:                   1.2em;

// Modals

$modal-content-border-color:        $gray-800;

$modal-header-border-color:         $gray-800;

// Progress bars

$progress-bg:                       $white;
$progress-bar-bg:                   $gray-400;

// List group

$list-group-border-color:           $gray-800;

$list-group-hover-bg:               $gray-800;
$list-group-active-color:           $white;
$list-group-active-bg:              $gray-800;

$list-group-action-color:           $gray-800;
$list-group-action-hover-color:     $white;

// Breadcrumbs

$breadcrumb-bg:                     $white;
$breadcrumb-divider-color:          $gray-800;
$breadcrumb-active-color:           $gray-800;

// Close

$close-color:                       $white;
$close-text-shadow:                 none;
