// Yeti 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee;
$gray-300: #dee2e6 !default;
$gray-400: #ccc;
$gray-500: #adb5bd !default;
$gray-600: #888;
$gray-700: #495057 !default;
$gray-800: #333;
$gray-900: #222;
$black:    #000 !default;

$blue:    #008cba;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #F04124;
$orange:  #fd7e14 !default;
$yellow:  #E99002;
$green:   #43ac6a;
$teal:    #20c997 !default;
$cyan:    #5bc0de;

$primary:       $blue !default;
$secondary:     $gray-200;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200;
$dark:          $gray-900;

// Components

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

// Fonts

$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-base:              0.9375rem;

$headings-font-weight:        300;

// Buttons

$input-btn-padding-x:         1rem;

$btn-font-weight:             300;

// Dropdowns

$dropdown-border-color:             rgba($black,.1);
$dropdown-divider-bg:               rgba($black,.1);

// Navs

$nav-link-disabled-color:           $gray-400;

$nav-tabs-border-color:             $dropdown-border-color;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;

// Navbar

$navbar-dark-color:                 rgba($white,.7);
$navbar-dark-hover-color:           $white;

// Pagination

$pagination-color:                  $gray-600;
$pagination-border-color:           $nav-tabs-border-color;

$pagination-active-border-color:    darken($primary, 5%);

$pagination-disabled-color:         $gray-200;

// Jumbotron

$jumbotron-padding:                 4rem;

// Badges

$badge-font-weight:                 300;
$badge-padding-x:                   1rem;

// Progress bars

$progress-bg:                       #f6f6f6;
$progress-bar-color:                $primary;

// List group

$list-group-disabled-bg:            $gray-200;

// Close

$close-color:                       $gray-600;
$close-text-shadow:                 none;
