// Solar 4.0.0
// Bootswatch

//
// Color system
//

// stylelint-disable
$white:    #fff !default;
$gray-100: #FDF6E3;
$gray-200: #EEE8D5;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #839496;
$gray-700: #495057 !default;
$gray-800: #073642;
$gray-900: #002B36;
$black:    #000 !default;

$blue:    #B58900;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #D33682;
$orange:  #fd7e14 !default;
$yellow:  #CB4B16;
$green:   #2AA198;
$teal:    #20c997 !default;
$cyan:    #268BD2;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800;

// Body

$body-bg:                   $gray-900;
$body-color:                $gray-600;

// Links

$link-color:                $success;
$link-hover-color:          $link-color;

// Components

$component-active-color:      rgba(255,255,255,.75);
$component-active-bg:         $gray-800;

// Fonts

$font-family-sans-serif:      'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Tables

$table-accent-bg:             rgba($white,.05);
$table-hover-bg:              rgba($white,.075);

$table-border-color:          $component-active-bg;

$table-dark-color:            $white;

// Forms

$input-bg:                              #A9BDBD;
$input-disabled-bg:                     #657B83;

$input-border-color:                    rgba($black,.15);

$input-placeholder-color:               #657B83;

$input-group-addon-color:               $gray-600;
$input-group-addon-bg:                  $gray-800;

// Dropdowns

$dropdown-bg:                       $gray-800;
$dropdown-divider-bg:               $body-bg;

$dropdown-link-color:               $body-color;
$dropdown-link-hover-color:         rgba(255,255,255,.75);
$dropdown-link-hover-bg:            $body-bg;

// Navs

$nav-tabs-border-color:             $gray-800;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color;
$nav-tabs-link-active-color:        $component-active-color;
$nav-tabs-link-active-bg:           $body-bg;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;

// Navbars

$navbar-light-color:                rgba($black,.4) !default;
$navbar-light-active-color:         rgba($black,.7) !default;

// Pagination

$pagination-bg:                     transparent;
$pagination-border-color:           $gray-800;

$pagination-hover-bg:               $gray-800;
$pagination-hover-border-color:     $gray-800;

$pagination-active-color:           rgba(255,255,255,.75);
$pagination-active-bg:              $gray-800;
$pagination-active-border-color:    $gray-800;

$pagination-disabled-color:         $gray-800;
$pagination-disabled-bg:            transparent;
$pagination-disabled-border-color:  $gray-800;

// Jumbotron

$jumbotron-bg:                      $gray-800;

// Cards

$card-border-color:                 $gray-800;
$card-cap-bg:                       $gray-800;
$card-bg:                           transparent;

// Popovers

$popover-bg:                        $gray-800;
$popover-border-color:              $body-bg;

$popover-header-bg:                 $gray-800;

// Modals

$modal-content-bg:                  $gray-800;
$modal-content-border-color:        $body-bg;

$modal-header-border-color:         $body-bg;

// Progress bars

$progress-bg:                       $gray-800;
$progress-bar-color:                $primary;

// List group

$list-group-bg:                     transparent;
$list-group-border-color:           $gray-800;

$list-group-hover-bg:               $gray-800;
$list-group-active-color:           rgba(255,255,255,.75);

$list-group-disabled-color:         $component-active-bg;
$list-group-disabled-bg:            transparent;

$list-group-action-color:           $body-color;
$list-group-action-hover-color:     $component-active-color;

// Breadcrumbs

$breadcrumb-bg:                     $component-active-bg;

// Close

$close-color:                       $body-color;
$close-text-shadow:                 none;
