// Cyborg 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ADAFAE;
$gray-500: #888;
$gray-600: #555;
$gray-700: #282828;
$gray-800: #222;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2A9FD6;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #CC0000;
$orange:  #fd7e14 !default;
$yellow:  #FF8800;
$green:   #77B300;
$teal:    #20c997 !default;
$cyan:    #9933CC;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;


// Body

$body-bg:       #060606;
$body-color:    $gray-500;

// Fonts

$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$font-size-base: .875rem;

$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-font-size: 2rem;
$h5-font-size: 1.5rem;

$headings-color:         $white;

// Tables

$table-accent-bg:               rgba($white,.05);
$table-hover-bg:                rgba($white,.075);

$table-border-color:            $gray-700;

$table-head-color:              $white;

$table-inverse-color:           $white;

// Buttons

$input-btn-padding-x:       1rem;

// Forms

$input-disabled-bg:              $gray-400;

$input-border-color:			 transparent;

$input-group-addon-bg:           $gray-700;

// Dropdowns

$dropdown-bg:                    $gray-700;
$dropdown-divider-bg:            $gray-800;

$dropdown-link-color:            $white;
$dropdown-link-hover-color:      $white;
$dropdown-link-hover-bg:         $primary;

// Navs

$nav-tabs-border-color:                       $table-border-color;
$nav-tabs-link-hover-border-color:            $nav-tabs-border-color;
$nav-tabs-link-active-color:                  $white;
$nav-tabs-link-active-bg:                     $nav-tabs-border-color;
$nav-tabs-link-active-border-color:           $nav-tabs-border-color;

// Navbar

$navbar-dark-hover-color:           $white;

// Pagination

$pagination-color:                     $white;
$pagination-bg:                        $gray-700;
$pagination-border-color:              transparent;

$pagination-hover-color:               $white;
$pagination-hover-bg:                  $primary;
$pagination-hover-border-color:        $pagination-border-color;

$pagination-disabled-bg:               $pagination-bg;
$pagination-disabled-border-color:     $pagination-border-color;


// Jumbotron

$jumbotron-bg:                   $gray-700;

// Cards

$card-border-color:        $gray-700;
$card-cap-bg:              $gray-800;
$card-bg:                  $gray-700;

// Tooltips

$tooltip-bg:                  $gray-700;
$tooltip-opacity:             1;

// Popovers

$popover-bg:                          $gray-700;

// Modals

$modal-content-bg:               $gray-800;

$modal-header-border-color:   $gray-700;

// Progress bars

$progress-bg:                   $gray-700;

// List group

$list-group-bg:                  $gray-800;
$list-group-border-color:        $gray-700;

$list-group-hover-bg:                 $primary;

$list-group-disabled-bg:         $gray-700;

$list-group-action-active-bg:         $primary;

// Breadcrumbs

$breadcrumb-bg:                 $gray-700;

// Close

$close-color:                 $white;
$close-text-shadow:           none;
