// Bootswatch.less
// Googly
// -----------------------------------------------------


// CUSTOM

.navbar .brand, .subnav a {
	color: @navbarText;
}

.subnav .nav > li > a {
	border-left: 0px solid white !important;
	border-right: 0px solid white !important;
}

.navbar .nav > li > a {
	text-shadow: none;
	&:hover {
  		background-color: #eee;
	    .box-shadow(inset 0 3px 5px rgba(0,0,0,.05));
	}
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  background-color: #e9e9e9;
  .box-shadow(inset 0 3px 5px rgba(0,0,0,.05));
}

.search-query {
	border: 1px solid #CCC;
	.border-radius(2px);
	background-color: @white;
}

h1, h2, h3, h4, h5, h6 {
	color: @black;
}

i[class^="icon-"]{
	opacity: 0.6;
}