// Bootswatch.less
// Googly
// -----------------------------------------------------


// CUSTOM

.navbar .brand, .subnav a {
	color: @navbarText;
}

.navbar .nav > li > a {
	text-shadow: none;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  background-color: rgba(0,0,0,.2);
}

.search-query {
	border: none;
	.border-radius(2px);
	background-color: @white;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
	
	&:hover {box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -2px -2px 0 rgba(0,0,0,.07);}
	
	.active, &:focus {border: 1px solid #4D90FE;}
}

h1, h2, h3, h4, h5, h6 {
	color: @black;
}