name: CI

on: [push, pull_request]

env:
  FORCE_COLOR: 2
  NODE: 14

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "${{ env.NODE }}"
          cache: npm

      - run: java -version

      - name: Install npm dependencies
        run: npm ci

      - name: Build the files
        run: npm run build

      - name: Build the docs files
        run: npm run docs

      - name: Run tests
        run: npm test

      - name: Run vnu.jar tests
        run: npm run htmllint
